<html>
	<head>
		<meta charset="utf-8">
		<title>Invoice</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
		<link rel="license" href="https://www.opensource.org/licenses/mit-license/">
		
		<style type="text/css">
		
body{

  background-color: #000;
}

.padding{

  padding: 2rem !important;
}

.card {
    margin-bottom: 5px;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

.card-header {
    background-color: #fff;
    border-bottom: 1px solid #e6e6f2;
}

h3 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
    line-height: 26px;
    color: #3d405c;
    margin: 0px 0px 15px 0px;
    font-family: 'Circular Std Medium';
}

.text-dark {
    color: #3d405c !important;
}
.div-1 {
        border: 1px solid;
        background-color: #EBEBEB;
    }

		</style>
	</head>
	<body>
		 <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 padding">
<div class="card">
<div class="card-header p-4">
<div class="float-left">
<img src="https://www.sparksuite.com/images/logo.png" style="width: 100%; max-width: 300px"/>
</div>
<div class="float-right"> <h3 class="mb-0">FACTURA ELECTRÓNICA DE VENTA No. #BBB10234</h3>
CUFE: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</div>
</div>
<div class="card-body">
<div class="row">
<div class="col-sm-6">
<h3 class="text-dark mb-1">NOMBRE DE LA EMPRESA S.A.S.</h3>
<div style="font-size: 12px;">Calle 47 No. 52-25</div>
<div style="font-size: 12px;">Medellín</div>
<div style="font-size: 12px;">Colombia</div>
<div style="font-size: 12px;">Tel: 2121919 Cel: 3015883764</div>
<div style="font-size: 12px;">Email: contact@bbbootstrap.com</div>
<div style="font-size: 12px;">www.lzapps.co</div>
</div>
<div class="col-sm-6 mb-4">
<div style="font-size: 12px;text-align:right;float:right;">Actividad económica 4739	
	<br>Responsables de IVA
    <br>Agente retenedor de IVA
    <br>Somos autoretenedores de ICA según resolución 36452 de diciembre 11 de 2.018
	<br>Resolución Dian no 18764039069636 del 2022-11-03
	<br>Numeración del E- 268396 al E- 500000
	<br>Vigencia 6 meses
</div>
<!-- <div style="font-size: 12px;text-align: right;">Actividad económica 4739</div> -->
<!-- <div style="font-size: 12px;text-align: right;">Responsables de IVA</div> -->
<!-- <div style="font-size: 12px;text-align: right;">Agente retenedor de IVA</div> -->
<!-- <div style="font-size: 12px;text-align: right;">Somos autoretenedores de ICA según resolución 36452 de diciembre 11 de 2.018</div> -->
<!-- <div style="font-size: 12px;text-align: right;">Resolución Dian no 18764039069636 del 2022-11-03</div> -->
<!-- <div style="font-size: 12px;text-align: right;">Numeración del E- 268396 al E- 500000</div> -->
<!-- <div style="font-size: 12px;text-align: right;">Vigencia 6 meses</div> -->
</div>
</div>

<div class="row mb-4" style="background-color:#F4F6F7;border:5px;">
<div class="col-sm-6">
<div style="font-size: 16px;font-weight:bold;">Cliente: NOMBRE DEL CLIENTE S.A.S.</div>
<div style="font-size: 12px;">Medellín</div>
<div style="font-size: 12px;">Colombia</div>
<div style="font-size: 12px;">Tel: 2121919 Cel: 3015883764</div>
<div style="font-size: 12px;">Email: contact@bbbootstrap.com</div>
<div style="font-size: 12px;">www.lzapps.co</div>
</div>
<div class="col-sm-6 mb-4">
<!-- <div style="font-size: 12px;text-align:justify;float:center; font-weight:bold;">Información factura:</div> -->
<div style="font-size: 12px;text-align:justify;float:right;"><span style="font-size: 16px;text-align:justify;float:center; font-weight:bold;">Información factura:</span>
	<br>Fecha factura: 25/04/2023
	<br >Fecha vencimiento: 25/05/2023
    <br>Forma de pago: Contado
    <br>Medio de pago: Transferencia
	<br>Vendedor: Jhoana Andrea Florez Martinez
</div>
</div>
</div>

<div class="table-responsive-sm">
<table class="table table-striped">
<thead>
<tr>
<th class="center">#</th>
<th>Ref</th>
<th class="left">Detalle</th>
<th class="right">Cantidad</th>
<th class="right">Precio</th>
<th class="right">Descuento</th>
<th class="right">Vlr. Total</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;font-size: 12px;">3</td>
<td style="text-align: left;font-size: 12px;">4565</td>
<td style="text-align: left;font-size: 12px;">Samsung 4C with extended warranty</td>
<td style="text-align: right;font-size: 12px;">24</td>
<td style="text-align: right;font-size: 12px;">$100</td>
 <td style="text-align: right;font-size: 12px;">$15,000</td>
 <td style="text-align: right;font-size: 12px;">$15,000,000</td>
</tr>
<tr>
<td style="text-align: center;font-size: 12px;">3</td>
<td style="text-align: left;font-size: 12px;">4565</td>
<td style="text-align: left;font-size: 12px;">Samsung 4C with extended warranty</td>
<td style="text-align: right;font-size: 12px;">12</td>
<td style="text-align: right;font-size: 12px;">$410</td>
<td style="text-align: right;font-size: 12px;">$12,000</td>
<td style="text-align: right;font-size: 12px;">$15,000,000</td>
</tr>
<tr>
<td style="text-align: center;font-size: 12px;">3</td>
<td style="text-align: left;font-size: 12px;">4565</td>
<td style="text-align: left;font-size: 12px;">Samsung 4C with extended warranty</td>
<td style="text-align: right;font-size: 12px;">800</td>
<td style="text-align: right;font-size: 12px;">$6010</td>
<td style="text-align: right;font-size: 12px;">$8000</td>
<td style="text-align: right;font-size: 12px;">$15,000,000</td>
</tr>
<tr>
<td style="text-align: center;font-size: 12px;">4</td>
<td style="text-align: left;font-size: 12px;">2435</td>
<td style="text-align: left;font-size: 12px;">Google prime with Amazon prime membership</td>
<td style="text-align: right;font-size: 12px;">500</td>
<td style="text-align: right;font-size: 12px;">$7610</td>
<td style="text-align: right;font-size: 12px;">$5000</td>
<td style="text-align: right;font-size: 12px;">$315,000,000</td>
</tr>
</tbody>
</table>
</div>

<div class="row mb-4">
<div class="col-sm-6">
<div style="font-size:12px;font-weight:bold;padding:0;width:fit-content;height:fit-content;display: inline-block;background-color:#F4F6F7;width:450px;">
Valor en letras: SETECIENTOS TREINTA Y DOS MIL CON CERO CENTAVOS</div>
<div style="font-size: 12px;font-weight:bold;padding:0;width:fit-content;height:fit-content;display: inline-block;">Observaciones:</div>
<div style="text-align: justify;font-size: 10px; padding:0;width:450px;height:fit-content;">Pasados 15 días no se aceptan reclamos ni devoluciones, mercancía de moda, pedidos especiales, de bazar, artículos especiales de ceremonia, de 
navidad, perlas, pinzas, artículos de bisutería, flores, prendedores, agujas, troqueles, tijeras, copas, hombreras, tamboras,
plastiflechas, lentejuelas, mercancía cortada y mostacilla por gramos no se cambian; los servicios de tintorería son de estricto contado.
1. Esta factura de venta es un título valor (Ley 1231 de julio 17 de 2008). 2. Se hace constar que la firma de persona distinta al comprador está 
autorizada para recibir y confesar la deuda al obligar al comprador. 3. El pago de esta factura posterior a la fecha de
vencimiento causará intereses de mora y se cobrarán a la tasa máxima autorizada por la superintendencia financiera. 4. La mercancía viajará por</div>

</div>
<div >

<div class="row" style="padding:0;">
<div class="col-lg-4 col-sm-5">
</div>
<div class="col-lg-4 col-sm-5 ml-auto">
<table class="table table-clear">
<tbody>
<tr>
<td class="left">
<strong class="text-dark" style="font-size: 14px;">Subtotal</strong>
</td>
<td class="right" style="text-align: right;font-size: 14px;">$28,809,00</td>
</tr>
<tr>
<td class="left">
<strong class="text-dark" style="font-size: 14px;">Descuento (20%)</strong>
</td>
<td class="right" style="text-align: right;font-size: 14px;">$5,761,00</td>
</tr>
<tr>
<td class="left">
<strong class="text-dark" style="font-size: 14px;">I.V.A.</strong>
</td>
<td class="right" style="text-align: right;font-size: 14px;">$2,304,00</td>
</tr>
<tr>
<td class="left">
<strong class="text-dark" style="font-size: 14px;">Total</strong>
 </td>
<td class="right">
<strong class="text-dark" style="text-align: right;font-size: 14px;">$20,744,00</strong>
</td>
</tr>
</tbody>
</table>
</div>
</div>

</div>
</div>





</div>
<div class="card-footer bg-white" style="text-align: right;font-size: 10px;">
<p class="mb-0">Proveedor tecnológico: LZApps</p>
</div>
</div>
</div>
	</body>
</html>